<div class="filter-bar">
  <div class="filter-bar__label">Filtrar</div>
  <div class="filter-bar__dropdown-container">
    <p-dropdown
      [options]="years"
      [(ngModel)]="selectedYear"
      (onChange)="onFilterChange()"
      optionLabel="label"
      optionValue="value"
      styleClass="filter-bar__dropdown"
    >
    </p-dropdown>
    <button
      class="filter-bar__clear-button"
      *ngIf="selectedYear"
      (click)="clearYear()"
    >
      <i class="pi pi-times"></i>
    </button>
  </div>

  <div class="filter-bar__dropdown-container">
    <p-dropdown
      [options]="months"
      [(ngModel)]="selectedMonth"
      (onChange)="onFilterChange()"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleccione el mes"
      styleClass="filter-bar__dropdown"
    >
    </p-dropdown>
    <button
      class="filter-bar__clear-button"
      
      (click)="clearMonth()"
    >
      <i class="pi pi-times"></i>
    </button>
  </div>

  <div class="filter-bar__search">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="referenceNumber"
      (input)="onFilterChange()"
      placeholder="Filtre por N° de referencia"
      class="filter-bar__search-input"
    />
    <button
      class="filter-bar__clear-button filter-bar__clear-button--search"
     
      (click)="clearReference()"
    >
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>
