<header class="header">
    <div class="header__left-section">
      <div class="header__logo">
        <img src="assets/company_logo.png" alt="SIGAUS" class="header__logo-image">
      </div>
    </div>
    
    <div class="header__center-section">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">INICIO</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">ADMINISTRACIÓN</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link header__nav-link--active">GESTIÓN</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">ALERTAS</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">INCIDENCIAS</a>
          </li>
        </ul>
      </nav>
      <div class="header__year-selector">
        <span>2025</span>
        <i class="pi pi-angle-down"></i>
      </div>
      <div class="header__modules">
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Dec</div>
        </div>
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Fac</div>
        </div>
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Inf</div>
        </div>
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Ins</div>
        </div>
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Tra</div>
        </div>
        <div class="header__module">
          <div class="header__module-number">0</div>
          <div class="header__module-name">Rec</div>
        </div>
      </div>
    </div>
    
    <div class="header__right-section">
        <i class="pi pi-bell"></i>
      <div class="header__notifications">
        <div class="header__notification-badge header__notification-badge--orange">0</div>
        <div class="header__notification-badge header__notification-badge--yellow">0</div>
      </div>
      
      <div class="header__user-profile">
        <span class="header__username">ADMINISTRADOR</span>
        <i class=" pi pi-sign-out header__user-avatar"></i>
      </div>
    </div>
  </header>