.declarations {
  padding: 15px 0; // Reduced padding to match screenshot
  width: 100%;

  // Breadcrumb
  &__breadcrumb {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;

    &-separator {
      margin: 0 5px;
    }

    &-current {
      color: #333;
    }
    &_view--desktop {
      max-width: 1200px;
      margin: auto;
    }
  }

  // Header
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  &__company {
    flex: 1;

    &-text {
      display: flex;
      gap: 10px;
      &-logo {
        &-name {
          font-size: 22px;
          font-weight: 600;
          margin: 0;
          color: #333;
        }

        &-id {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }

  &__search {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;

    .material-icons {
      color: #666;
      font-size: 25px;
    }
  }

  &__new-button {
    padding: 10px;
    gap: 10px;
    color: white !important;
    background-color: #1976d2 !important;
    border: none !important;
    border-radius: 3px !important;

    &.p-button-icon::before {
      font-size: 15px !important;
    }

    &:hover {
      background-color: #1565c0 !important;
    }
  }

  // Tabs
  &__tabs {
    display: flex;
    background-color: #f5f5f5;
    border-bottom: 0;
  }

  &__tab {
    padding: 10px 15px;
    background-color: white;
    color: #666;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
    min-width: 150px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;

    &:first-child {
      border-left: 1px solid #ddd;
    }

    &:hover {
      background-color: #eaeaea;
    }

    &--active {
      background-color: #F5F4F1;
      color: #666;
      font-weight: 500;
      margin-bottom: -1px;
      position: relative;
    }
  }

  &__tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #F5F4F1;
    padding: 20px;
  }
}


